{% extends "index.html" %}
{% block title %}Assignments{% endblock %}

{% block content %}
    <div class="center">
        <h1>Assignments</h1>
        <p>Welcome {{ user.username }}!</p>
        <p>Here you can view, add, and edit your assignments.</p>
    </div>
    <div class="parent-assignment-container">
        <div class="assignments-container">
            <h3 class="center container-header">Your Assignments</h3>
            <form id="assignments-taskbar" method="GET">
                <label for="search">Search: </label>
                <input type="text" id="search" name="search" placeholder="E.g. calc hw" value="{{ request.args.get('search', '') }}">
                <label for="sorting-method">Sort: </label>
                <select id="sorting-method" name="sorting-method">
                    <option value="Default" {% if request.args.get('sorting-method', 'Default') == 'Default' %}selected{% endif %}>Default</option>
                    <option value="Due Date" {% if request.args.get('sorting-method') == 'Due Date' %}selected{% endif %}>Due Date</option>
                    <option value="Name" {% if request.args.get('sorting-method') == 'Name' %}selected{% endif %}>Name</option>
                    <option value="Course" {% if request.args.get('sorting-method') == 'Course' %}selected{% endif %}>Course</option>
                    <option value="Priority" {% if request.args.get('sorting-method') == 'Priority' %}selected{% endif %}>Priority</option>
                    <option value="Completed" {% if request.args.get('sorting-method') == 'Completed' %}selected{% endif %}>Completed</option>
                    <option value="Incomplete" {% if request.args.get('sorting-method') == 'Incomplete' %}selected{% endif %}>Incomplete</option>
                </select>
                <button type="submit">Apply</button>
            </form>
            <div class="assignments-list">
                {% if not user.assignments %}
                    <p>No assignments yet!</p>
                {% endif %}
                <ul id="assignments">
                    {% for assignment in assignments %}
                    {% if assignment.priority == "High" %}
                    <li class="assignment high-priority">{{ assignment.name }} | {{ assignment.course }} | {{ assignment.priority }} Priority | {{ assignment.due_label()}} | Notes: {{ assignment.notes }}<form method="POST" action="/delete-assignment/{{ assignment.id }}" style="display: inline;">
                        <input type="button" value="Edit" onclick="window.location.href='/edit-assignment/{{ assignment.id }}'"><input type="submit" value="Delete">
                    </form></li>
                    {% elif assignment.priority == "Medium" %}
                    <li class="assignment medium-priority">{{ assignment.name }} | {{ assignment.course }} | {{ assignment.priority }} Priority | {{ assignment.due_label()}} | Notes: {{ assignment.notes }}<form method="POST" action="/delete-assignment/{{ assignment.id }}" style="display: inline;">
                        <input type="button" value="Edit" onclick="window.location.href='/edit-assignment/{{ assignment.id }}'"><input type="submit" value="Delete">
                    </form></li>
                    {% else %}
                    <li class="assignment low-priority">{{ assignment.name }} | {{ assignment.course }} | {{ assignment.priority }} Priority | {{ assignment.due_label()}} | Notes: {{ assignment.notes }}<form method="POST" action="/delete-assignment/{{ assignment.id }}" style="display: inline;">
                        <input type="button" value="Edit" onclick="window.location.href='/edit-assignment/{{ assignment.id }}'"><input type="submit" value="Delete">
                    </form></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="new-assignment-container">
            <form method="POST">
                <h3 class="center container-header">New Assignment</h3>
                <label for="name">Assignment:</label>
                <input type="text" name="name" id="name" placeholder="Example: Study for Final Exam" required><br>
                <label for="course">Course:</label>
                <input type="text" name="course" id="course" placeholder="Example: Math 101" required><br>
                <label for="priority">Priority:</label>
                <select name="priority" id="priority" required>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High" selected>High</option>
                </select><br>
                <label for="due_date">Due Date:</label>
                <input type="date" name="due_date" id="due_date" required><br>
                <label for="notes">Notes (optional):</label>
                <textarea name="notes" id="notes" placeholder="Example: Review chapters 1-5"></textarea><br>
                <input type="submit" value="Add Assignment">
            </form>
        </div>
    </div>
    
{% endblock %}