{% extends "index.html" %}
{% block title %}Assignments{% endblock %}

{% block content %}
    <div class="center">
        <h1>Assignments</h1>
        <p>Welcome {{ user.username }}!</p>
        <p>Here you can view, add, and edit your assignments.</p>
    </div>
    <div class="parent-assignment-container">
        <div class="assignments-container">
            <h3 class="center container-header">Your Assignments</h3>
            <div class="assignments-taskbar">
                <label for="search">Search: </label>
                <input type="text" id="search" placeholder="E.g. calc hw">
                <label for="sorting-method">Sort: </label>
                <select id="sorting-method">
                    <option selected>Default</option>
                    <option>Due Date</option>
                    <option>Name</option>
                    <option>Course</option>
                    <option>Priority</option>
                    <option>Completed</option>
                    <option>Incomplete</option>
                </select>
                <span>Show: </span>
                <input type="radio" name="show" id="all">
                <label for="all">All</label>
                <input type="radio" name="show" id="incomplete">
                <label for="all">Incomplete</label>
                <input type="radio" name="show" id="complete">
                <label for="all">Complete</label>
            </div>
            <div class="assignments-list">
                {% if not user.assignments %}
                    <p>No assignments yet!</p>
                {% endif %}
                <ul id="assignments">
                    {% for assignment in user.assignments %}
                    {% if assignment.priority == "High" %}
                    <li class="assignment high-priority">{{ assignment.name }} | {{ assignment.course }} | {{ assignment.priority }} Priority | {{ assignment.due_label()}} | Notes: {{ assignment.notes }}<form method="POST" action="/delete-assignment/{{ assignment.id }}" style="display: inline;">
                        <input type="button" value="Edit" onclick="window.location.href='/edit-assignment/{{ assignment.id }}'"><input type="submit" value="Delete">
                    </form></li>
                    {% elif assignment.priority == "Medium" %}
                    <li class="assignment medium-priority">{{ assignment.name }} | {{ assignment.course }} | {{ assignment.priority }} Priority | {{ assignment.due_label()}} | Notes: {{ assignment.notes }}<form method="POST" action="/delete-assignment/{{ assignment.id }}" style="display: inline;">
                        <input type="button" value="Edit" onclick="window.location.href='/edit-assignment/{{ assignment.id }}'"><input type="submit" value="Delete">
                    </form></li>
                    {% else %}
                    <li class="assignment low-priority">{{ assignment.name }} | {{ assignment.course }} | {{ assignment.priority }} Priority | {{ assignment.due_label()}} | Notes: {{ assignment.notes }}<form method="POST" action="/delete-assignment/{{ assignment.id }}" style="display: inline;">
                        <input type="button" value="Edit" onclick="window.location.href='/edit-assignment/{{ assignment.id }}'"><input type="submit" value="Delete">
                    </form></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="new-assignment-container">
            <form method="POST">
                <h3 class="center container-header">New Assignment</h3>
                <label for="name">Assignment:</label>
                <input type="text" name="name" id="name" placeholder="Example: Study for Final Exam" required><br>
                <label for="course">Course:</label>
                <input type="text" name="course" id="course" placeholder="Example: Math 101" required><br>
                <label for="priority">Priority:</label>
                <select name="priority" id="priority" required>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High" selected>High</option>
                </select><br>
                <label for="due_date">Due Date:</label>
                <input type="date" name="due_date" id="due_date" required><br>
                <label for="notes">Notes (optional):</label>
                <textarea name="notes" id="notes" placeholder="Example: Review chapters 1-5"></textarea><br>
                <input type="submit" value="Add Assignment">
            </form>
        </div>
    </div>
    
{% endblock %}